TemaXP-DM71-Group1/TemaXP-WCFServiceLib/Service References/ServiceReference1/TemaXP_Groupe1_WcfService1.ModelLayer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TemaXP_Groupe1_WcfService1.ModelLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TemaXP_Groupe1_WcfService1.ModelLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Movie">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actors" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArrivalDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Director" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distributor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Duration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MovieDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReleaseDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Movie" nillable="true" type="tns:Movie" />
  <xs:complexType name="ArrayOfMovie">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Movie" nillable="true" type="tns:Movie" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMovie" nillable="true" type="tns:ArrayOfMovie" />
</xs:schema>