TemaXP-DM71-Group1/TemaXP-DM71-Group1/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TemaXP_WCFServiceLib.ModelLayer" />
  <xs:element name="FindCinemaByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cinemaName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="retrieveAssociation" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCinemaByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TemaXP_WCFServiceLib.ModelLayer" minOccurs="0" name="FindCinemaByNameResult" nillable="true" type="q1:Cinema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllCinemas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="retrieveAssociation" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllCinemasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TemaXP_WCFServiceLib.ModelLayer" minOccurs="0" name="FindAllCinemasResult" nillable="true" type="q2:ArrayOfCinema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCinema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cinemaName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="noOfRows" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCinemaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSeatsToRow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TemaXP_WCFServiceLib.ModelLayer" minOccurs="0" name="c" nillable="true" type="q3:Cinema" />
        <xs:element minOccurs="0" name="rowNumber" type="xs:int" />
        <xs:element minOccurs="0" name="noOfSeats" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSeatsToRowResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCinema">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TemaXP_WCFServiceLib.ModelLayer" minOccurs="0" name="c" nillable="true" type="q4:Cinema" />
        <xs:element minOccurs="0" name="cinemaName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCinemaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCinema">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TemaXP_WCFServiceLib.ModelLayer" minOccurs="0" name="c" nillable="true" type="q5:Cinema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCinemaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMovieByTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="retrieveAssociation" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMovieByTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TemaXP_WCFServiceLib.ModelLayer" minOccurs="0" name="FindMovieByTitleResult" nillable="true" type="q6:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMovieById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TemaXP_WCFServiceLib.ModelLayer" minOccurs="0" name="m" nillable="true" type="q7:Movie" />
        <xs:element minOccurs="0" name="retrieveAssociation" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMovieByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TemaXP_WCFServiceLib.ModelLayer" minOccurs="0" name="FindMovieByIdResult" nillable="true" type="q8:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="releaseDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="distributor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="arrivalDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="returnDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="duration" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="director" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="actors" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="movieDescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMovieResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentTitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="releaseDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="distributor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="arrivalDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="returnDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="duration" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="director" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="actors" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="movieDescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMovieResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TemaXP_WCFServiceLib.ModelLayer" minOccurs="0" name="m" nillable="true" type="q9:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMovieResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllMovies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="retrieveAssociation" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllMoviesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TemaXP_WCFServiceLib.ModelLayer" minOccurs="0" name="FindAllMoviesResult" nillable="true" type="q10:ArrayOfMovie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertShow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="movieStartTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="showDate" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TemaXP_WCFServiceLib.ModelLayer" minOccurs="0" name="movie" nillable="true" type="q11:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertShowResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteShow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TemaXP_WCFServiceLib.ModelLayer" minOccurs="0" name="s" nillable="true" type="q12:Show" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteShowResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TemaXP_WCFServiceLib.ModelLayer" minOccurs="0" name="s" nillable="true" type="q13:Show" />
        <xs:element minOccurs="0" name="movieStartTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="showDate" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TemaXP_WCFServiceLib.ModelLayer" minOccurs="0" name="movie" nillable="true" type="q14:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShowResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllShows">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="retrieveAssociation" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllShowsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/TemaXP_WCFServiceLib.ModelLayer" minOccurs="0" name="FindAllShowsResult" nillable="true" type="q15:ArrayOfShow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindShowByMovieId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/TemaXP_WCFServiceLib.ModelLayer" minOccurs="0" name="m" nillable="true" type="q16:Movie" />
        <xs:element minOccurs="0" name="retrieveAssociation" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindShowByMovieIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/TemaXP_WCFServiceLib.ModelLayer" minOccurs="0" name="FindShowByMovieIdResult" nillable="true" type="q17:Show" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindShowByMovieIdAndShowDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/TemaXP_WCFServiceLib.ModelLayer" minOccurs="0" name="m" nillable="true" type="q18:Movie" />
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindShowByMovieIdAndShowDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/TemaXP_WCFServiceLib.ModelLayer" minOccurs="0" name="FindShowByMovieIdAndShowDateResult" nillable="true" type="q19:Show" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllShowsOneWeekAhead">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="retrieveAssociation" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllShowsOneWeekAheadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/TemaXP_WCFServiceLib.ModelLayer" minOccurs="0" name="GetAllShowsOneWeekAheadResult" nillable="true" type="q20:ArrayOfShow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>